

.header {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
    font-size: 42px;
    line-height: 120%;
}