.main {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.input {
    height: 50px;
    padding: 10px;
    width: 50%;
    background: #fff;
    color: #000;
    border-radius: 5px;
    transition: all 0.2 ease-in;
}
.input:focus-visible {
    outline: none;
}
.input:focus {
    transform: scale(1.1);
}
.posts {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}