.comments {
  padding: 10px 30px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.content {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.author {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: black;
}