.block {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}

.backButton {
    background-color: #fff;
    color: #000;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

.comments {
    margin-top: 40px;
}